/*  - build style components that will apply to react components
    > style components
      - typography
        * media queries
          - device sizes
          - landscape vs portrait
      - sizing
        * typography based sizing
        * modular scale
        * spacing units
      - layers
        * material design-based box-shadows
        * z-index
      - colors
*/

:root {

  /** TYPOGRAPHY **/

  /* font-family */
  --ff__sans-serif: {
    font-family: 'Source Sans Pro';
  }

  /* opentype */
  --ot__global: {     /* for all unspecified text */
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    font-feature-settings: "kern", "liga", "clig", "calt";
  }
  --ot__roman: {      /* for paragraphs text */
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: oldstyle-nums propotional-nums;
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
  }
  --ot__display: {  /* for display text */
    font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
    font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  }
  --ot__data: {     /* for text showing data in tables */
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
  }

  /** SIZING **/

  /* font-size */
  --fs__base: {     /* apply to body to set rem basis */
    font-size: 16px;
  }
  --fs__global: {
    font-size: 1rem;
    line-height: 1;
  }

  /** COMPONENTS **/

  /* nav */

  --nav {
    background: white;
    margin-bottom: 1rem;
    padding: 1rem;
    font-family: system-ui;
    display: flex;
    justify-content: space-between;
  }

  --nav__item {
    background: gray;
    @apply --fs__global;
    @apply --ot__global;
  }

  /* article */

  --article {
    @apply --ff__sans-serif;
    @apply --ot__roman;
    @apply --fs__global;

    background: white;
    overflow: scroll;
    overflow-y: auto;
    line-height: 1.4;
    padding: 1rem 4rem 1rem 1rem;
    text-align: justify;
  }
}
