@import '../styles/variables';

:root {
  --viewport {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
}

body {
  background: var(--gray--60);
  color: var(--black);
}
.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}
.viewport--left {
  @apply --viewport;
  @mixin flex column;
  left: 0;
  padding: 1em .5em 0 1em;
  z-index: 1;
}
.viewport--right {
  @apply --viewport;
  right: 0;
  padding: 1em .5em 0 0;
  z-index: 2;
}
