@import '../styles/variables';

.article__container {
  flex-grow: 1;
  height: 100%;
  position: relative;
  overflow: scroll;
}

.article {
  @apply --dp__6;
  background: var(--white);
  margin: 1em .5em 2em 1em;
  padding: 1em 3em 1em 2em;
  border: 1px solid var(--gray--40);

  & .article__header {
    @mixin font-settings normal, 700, 2em, 1;
    @apply --ot__display;
  }

  & .article__p {
    @mixin font-settings normal, 400, 1em, 1.4;
    @apply --ot__roman;
    text-align: justify;
    word-break: normal;
    hyphens: auto;
  }

  & p:last-child {
    margin: * * 0 *;
  }

  & .article__author {
    @mixin font-settings italic, 400, 1em, 1;
  }
}
