@import '../styles/variables';

.gallery {
  overflow: scroll;
  height: 100%;
}
.gallery__item {
  @apply --dp__6;
  text-align: center;
  margin: * .5em 1.5em;

  & figure {
    @mixin flex column;
    margin: 0;
  }
  & img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
  & figcaption {
    background: var(--white);
    @mixin font-settings italic, 400, 1em, 1;
    text-align: left;
    margin: 0;
    padding: .2em;
  }
}
