@import '../styles/variables';

.gallery {
  overflow: scroll;
  height: 100%;
  position: relative;
  padding: 2em 2em 2em .5em; /* must match .viewport--left padding */
}

.gallery__item {
  text-align: center;
  @apply --dp__6;
  margin: * * 1.5em *;

  & figure {
    @mixin flex column;
    margin: 0;
  }

  & img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  & figcaption {
    background: var(--white);
    @mixin font-settings italic, 400, 1em, 1;
    text-align: left;
    margin: 0;
    padding: .2em;
  }

}

.gallery__item:last-child {
  margin: * * 0 *;
}
