@import '../styles/variables';

.nav {
  position: relative;
  z-index: 5;
  position: fixed;
  top: 0;

  & ul {
    @mixin flex;
  }
}

.nav__item {
  @apply --ot__global;
  padding: .5em;
  border-right: 1px solid black;
  color: var(--gray--40);
}
.nav__item > i:hover, .nav__navigation > i:hover {
  color: var(--black);
  cursor: pointer;
}
.nav__item:last-child {
  border-right: none;
}

.logo {
  flex-grow: 0;
  @mixin font-settings normal, 300, 1em, 2;

  & img {
    border-radius: 50%;
    width: 3em;
    height: auto;
    transition: all .1s ease-in-out;
    @apply --dp__4;

  }

  & img:hover {
    @apply --dp__12;
    width: 3.2em;
    cursor: pointer;
  }

  & img:active {
    width: 3em;
    @apply --dp__4;
  }
}
.projects {
  flex-grow: 0;
  @mixin font-settings normal, 300, 1.5em, 1;
}
.menu {
  flex-grow: 2;
  @mixin flex;
  @mixin font-settings normal, 300, 1.2em, 1;

  & .nav__navigation {
    @mixin flex;

    & .fa-chevron-left {
      padding: * .5em * *;
    }
    & .fa-chevron-right {
      padding: * .5em * .5em;
    }
    .project--next {
      border-left: 1px solid black;
      @mixin font-settings italic, 300, .8em, 1.2;
      padding: * * * .5em;
    }

  }
}
.social {
  flex-grow: 1;
  @mixin font-settings normal, 300, 1.3em, 1.4;
  & i {
    padding: * .3em;
  }
}
