@import './styles/font-face';
@import './styles/variables';

* {
  box-sizing: border-box;
}
html, body {
  overflow: auto;
  height: 100%;
}
body {
  font-family: sans-serif;
  @apply --fs__base;
}

.font--loaded > body { /* once FontFaceObserver adds .font--loaded class, apply new font-family */
  font-family: var(--ff__sans-serif);
  @apply --ot__global;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

